In [1]:
my_variable = ()
print(my_variable)

()

In [2]:
# 075
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [4]:
t = ('a', 'b', 'c')
t.upper()
print(t)

AttributeError: 'tuple' object has no attribute 'upper'

In [1]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
a, b, c

('apple', 'banana', 'cake')

In [2]:
tuples = tuple(range(2, 100, 2))
tuples

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)