In [83]:
# 141
리스트 = [100, 200, 300]
for char in 리스트:
    print(int(char) + 10)

110
210
310

In [84]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for char in 리스트:
    print(len(char))

6
4
4

In [87]:
# 144
list = ['dog', 'cat', 'parrot']

for char in list:
    print(char, len(char))

dog 3
cat 3
parrot 6

In [88]:
# 145
list = ['dog', 'cat', 'parrot']

for char in list:
    print(char[0])

d
c
p

In [92]:
#146
list = [1, 2, 3]

for char in list:
    print('3 x',char)

3 x 1
3 x 2
3 x 3

In [94]:
# 147
list = ["가", "나", "다", "라"]
for char in list[1:]:
    print(char)

나
다
라

In [95]:
for char in list[0:3:2]:
    print(char)

가
다

In [97]:
for char in list[::-1]:
    print(char)

라
다
나
가

In [101]:
# 151
list = [3, -20, -3, 44]
for char in list:
    if (char) < 0:
        print(char)

-20
-3

In [102]:
# 152
list = [3, 100, 23, 44]
for num in list:
    if num % 3 == 0:
        print(num)

3

In [103]:
# 153
list = [13, 21, 12, 14, 30, 18]
for num in list:
    if num % 3 == 0:
        if num < 20:
            print(num)

12
18

In [104]:
# 154
list = ["I", "study", "python", "language", "!"]
for char in list:
    if len(char) >= 3:
        print(char)

study
python
language

In [105]:
# 155
list = ["A", "b", "c", "D"]
for char in list:
    if char.isupper():
        print(char)

A
D

In [106]:
# 156
list = ["A", "b", "c", "D"]
for char in list:
    if char.islower():
        print(char)

b
c

In [117]:
# 157
list = ['dog', 'cat', 'parrot']
for chars in list:
    first = chars[0]
    large = first.upper()
    print(large+chars[1:])

Dog
Cat
Parrot

In [118]:
list = ['hello.py', 'ex01.py', 'intro.hwp']
for char in list:
    name, file = char.split('.')
    print(name)

hello
ex01
intro

In [119]:
# 159
list = ['intra.h', 'intra.c', 'define.h', 'run.py']

for char in list:
    name, file = char.split('.')
    if file == 'h':
        print(char)

intra.h
define.h

In [122]:
# 160
list = ['intra.h', 'intra.c', 'define.h', 'run.py']

for char in list:
    name, file = char.split('.')
    if file == 'h' or file == 'c':
        print(char)

intra.h
intra.c
define.h

In [123]:
# 161
for char in range(100):
    print(char)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [127]:
# 162
for i in range(2002, 2051):
    if i % 4 == 2:
        print(i)

# for x in range(2002, 2051, 4) :
#     print (x)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [129]:
# 163
for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [132]:
# 163
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [134]:
for i in range(10):
    print(i * 0.1)

for i in range(10):
    print(i / 10)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [136]:
for i in range(1, 10, 2):
    print('3x',i)

3x 1
3x 3
3x 5
3x 7
3x 9

In [141]:
# 168
sum = 0
for i in range(1, 11):
    sum += i
print(sum)

55

In [143]:
# 169
sum = 0
for i in range(1, 11, 2):
    sum += i
print(sum)

25

In [146]:
# 170
gob = 1
for i in range(1, 11):
    gob = gob * i
print(gob)

3628800

In [148]:
# 171
price_list = [32100, 32150, 32000, 32500]
for num in range(len(price_list)):
    print(price_list[num])

32100
32150
32000
32500

In [149]:
# 172
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [151]:
# 172
price_list = [32100, 32150, 32000, 32500]

for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [157]:
# 173
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print((len(price_list)-1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [159]:
# 174
price_list = [32100, 32150, 32000, 32500]

for i in range(1, len(price_list)):
    print(90 + i*10, price_list[i])

100 32150
110 32000
120 32500

In [161]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [164]:
# 176
my_list = ["가", "나", "다", "라", '마']
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [165]:
# 177
my_list = ["가", "나", "다", "라"]
list_back = my_list[::-1]

for i in range(len(list_back)-1):
    print(list_back[i], list_back[i+1])

라 다
다 나
나 가

In [166]:
# 178
my_list = [100, 200, 400, 800]
for i in range(1, len(my_list)):
    print((my_list[i] - my_list[i-1]))

100
200
400

In [ ]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-

In [170]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

for i in range(len(low_prices)):
    for j in range(len(high_prices)):
        if i == j:
            print(high_prices[j] - low_prices[i])


# volatility = []
# for i in range(len(low_prices)) :
#     volatility.append(high_prices[i] - low_prices[i])

50
100
30
80
0

In [171]:
# 181
apart = [[101, 102], [201, 202], [301, 302]]
apart

[[101, 102], [201, 202], [301, 302]]

In [173]:
#183
stock = {'시가' : [100, 200, 300], '종가' : [80, 210, 330]}

In [174]:
# 184
stock = {'10/10' : [80, 110, 70, 90], '10/11' : [210, 230, 190, 200]}

In [175]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for list in apart:
    for num in list:
        print(num, '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [176]:
# 187

apart = [ [101, 102], [201, 202], [301, 302] ]
for list in apart[::-1]:
    for num in list[::-1]:
        print(num, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [179]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]

for list in apart:
    for num in list:
        print(num, '호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [181]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]

for list in apart:
    for num in list:
        print(num, '호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [182]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]

for list in apart:
    for num in list:
        print(num, '호')

print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [184]:
# 191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [185]:
# 192
# 191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col * 1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [188]:
# 193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for row in data:
    for col in row:
        n = col * 1.00014
        result.append(n)

result

[2000.28,
 3050.427,
 2050.2870000000003,
 1980.2772,
 7501.05,
 2050.2870000000003,
 2050.2870000000003,
 1980.2772,
 15452.163,
 15052.107,
 15552.177,
 14902.086000000001]

In [191]:
# 194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for row in data:
    pre_result = []
    for col in row:
        n = col * 1.00014
        pre_result.append(n)
        
    result.append(pre_result)

result

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [197]:
# 195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for num in ohlc[1::]:
    print(num[-1])

100
190
310

In [199]:
# 196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for num in ohlc[1::]:
    result = num[-1]
    if result > 150:
        print(result)

190
310

In [200]:
# 197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for num in ohlc[1::]:
    open = num[0]
    close = num[-1]
    if close >= open:
        print(close)

100
310

In [205]:
# 198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for num in ohlc[1::]:
    high, low = num[1], num[2]
    gap = high - low
    volatility.append(gap)

volatility


# volatility = []
# for i in range(1, len(ohlc)):
#     volatility.append(ohlc[i][1]-ohlc[i][2])
# print(volatility)

[40, 30, 10]

In [207]:
# 199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for num in ohlc[1::]:
    open, high, low, close = num[0], num[1], num[2], num[3]
    gap = high - low
    if close > open:
        print(gap)

10

In [209]:
# 200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
profit = 0
for num in ohlc[1::]:
    open, high, low, close = num[0], num[1], num[2], num[3]
    money = close - open
    profit += money
profit

0